#context-menu {
    --text-color: #eee;
    --menu-background: #2c2c2c;
    --menu-border: transparent;
    --hover-color: #383838;
    --separator-color: #383838;
}

@media (prefers-color-scheme: light){
    #context-menu {
        --text-color: #6b7280;
        --menu-background: white;
        --menu-border: #d1d5db;
        --hover-color: #e7e7e7;
        --separator-color: var(--menu-border);
    }
}

/* alternative dark theme */
#context-menu.night {
    --text-color: #eee;
    --menu-background: #1b1a1a;
    --menu-border: transparent;
    --hover-color: #343434;
    --separator-color: #343434;
}


#context-menu {
    cursor: not-allowed;
    user-select: none;

    /* position */
    position: fixed;
    z-index: 9999;
    width: 200px;

    /* border */
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: var(--menu-border);

    padding: 8px;
    background-color: var(--menu-background);

    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

/*  NO ANIMATION 
    #context-menu {
        display: none;
    }

    #context-menu.visible {
        display: block;
    }
*/

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background-color: var(--hover-color);
}

#context-menu .separator {
    height: 1px;
    margin: 8px 0;
    background-color: var(--separator-color);
}


/* SCROLL BAR */
#context-menu.scroll {
    height: 40vh;
    overflow-y: scroll;
}

