#context-menu {
    --text-color: #eee;
    --menu-background: #2c2c2c;
    --menu-border: transparent;
    --hover-color: #383838;
    --separator-color: #383838;
}

@media (prefers-color-scheme: light) {
    #context-menu {
        --text-color: #6b7280;
        --menu-background: white;
        --menu-border: #d1d5db;
        --hover-color: #e7e7e7;
        --separator-color: var(--menu-border);
    }
}

/* alternative dark theme */
#context-menu.night {
    --text-color: #eee;
    --menu-background: #1b1a1a;
    --menu-border: transparent;
    --hover-color: #343434;
    --separator-color: #343434;
}


#context-menu {
    cursor: not-allowed;
    user-select: none;

    /* position */
    position: fixed;
    z-index: 9999;
    width: 200px;

    /* border */
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: var(--menu-border);

    padding: 8px;
    background-color: var(--menu-background);

    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

/*  NO ANIMATION 
    #context-menu {
        display: none;
    }

    #context-menu.visible {
        display: block;
    }
*/

/* ITEMS */
#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: var(--text-color);

    cursor: pointer;
    border-radius: inherit;

    display: flex;
    align-items: center;
}

#context-menu .item:hover {
    background-color: var(--hover-color);
}


/* SEPARATOR */
#context-menu .separator {
    height: 1px;
    margin: 8px 0;
    background-color: var(--separator-color);
}


/* ICONS */
#context-menu .item img,
#context-menu .item svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* ------------- SCROLL BAR ------------- */
#context-menu.scroll {
    height: 333px;
    overflow-y: scroll;
}



/* ------ SCROLL BAR FIX FOR CHROME ------ */
/* ? chrome scrollbar is still the old blocky one */
/* ? this is a fix for that */

/* width */
#context-menu::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
}

/* Track */
#context-menu::-webkit-scrollbar-track {
    cursor: pointer;
    border-radius: 10px;
    background: var(--menu-background);
}

/* Handle */
#context-menu::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
#context-menu::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555;
}

/* ? the 0.8px of the border makes the scrollbar feel off -> remove it */
#context-menu {
    border-right: 0;
}
